.movementItemBox {
  display: flex;
  flex-direction: column;
}

.movementTypePrefix {
  color: var(--text-color);
  font-size: small;
  font-weight: 400;
  font-style: italic;
  text-transform: capitalize;
}

.movementTypeSpeed {
  color: var(--vars-text-color);
  text-align: center;
  width: 100%;
}

.movementTypeUnit {
  color: var(--text-color);
  font-size: small;
  font-weight: 400;
}
