.tabList {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  top: 0;
}

.tab,
.tabActive {
  width: 10rem;
  clip-path: polygon(15% 100%, 85% 100%, 100% 0, 0 0);
}

.tab {
  background-color: #a58674;
}

.tab:hover {
  background-color: rgb(148, 126, 113);
}

.tabActive {
  font-weight: 600;
  background-color: #746257;
}

.tabText {
  text-transform: capitalize;
  text-align: center;
  display: block;
  font-size: 1.25rem;
  color: #000000;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
