.field {
  margin: auto;
  min-width: 10rem;
}

.input {
  width: 10rem;
  border-radius: 0.25rem;
}

input:focus {
  outline: none !important;
  border-color: #2e3236;
}

.label {
  display: flex;
  flex-direction: column;
  font-style: italic;
  font-weight: 400;
  font-size: small;
  text-transform: capitalize;
}
