.field {
  display: flex;
  flex-direction: column;
  margin: auto;
  border-radius: 0.25rem;
  border: 0.125rem solid black;
}

.label {
  font-size: small;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  text-transform: capitalize;
}

.input {
  width: 2rem;
  height: 2rem;
  text-align: center;
  background-color: transparent;
  border: none;
  border-bottom: 0.125rem solid black;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
  outline: none !important;
  border-color: #2e3236;
}

.statMod {
  text-align: center;
}
