.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.abilities {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.abilities > * {
  margin-left: 2rem;
}

.abilities :last-child {
  margin-right: 4rem;
}
