.page {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content {
  width: 75rem;
}

.content > *:not(:last-child) {
  margin-bottom: 1rem;
}

.sectionWrapper {
  min-height: 40rem;
  display: flex;
  justify-content: space-between;
  border-radius: none;
  border: none;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: #c9c9c9;
}

::-webkit-scrollbar-thumb {
  background-color: #757575;
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4d4d4d;
}
